*.iml
.gradle
local.properties
.idea
.DS_Store
/build
/captures
.externalNativeBuild
build/

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

google-services.json
